[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dvc = "*"
feast = "*"
evidently = "*"
mlflow = "*"
great-expectations = "*"
river = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
